<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hadoop, YARN and Spark servers</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- socket.io used to open web sockets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"
        ></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test';

            // the socket.io documentation recommends sending an explicit
            // package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                console.log('connected');
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            socket.on('my response', function() {
                console.log('got value');
            });
            socket.on('elapsedTime', function(data) {
                console.log('got value# ' + data.count);
            });
        });
    </script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  </head>
  <body>
    <div class="container">
        <table class="table table-condensed table-bordered">
            <caption>Hadoop</caption>
            <tbody>
                {% for server in hadoop %}
                <tr><td>{{ server.name }}</td>
                    <td><a href="{{ url_base }}:{{ server.port}}"
                            target="_blank">{{ server.port }}</a></td>
                    <td>{{ server.status }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <table class="table table-condensed table-bordered">
            <caption>YARN</caption>
            <tbody>
                {% for server in yarn %}
                <tr><td>{{ server.name }}</td>
                    <td><a href="{{ url_base }}:{{ server.port}}"
                            target="_blank">{{ server.port }}</a></td>
                    <td>{{ server.status }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="well">
            <table class="table table-condensed table-bordered">
                <caption>YARN apps</caption>
                <tbody>
                    <tr><th>id</th>
                        <th>name</th>
                        <th>state</th>
                        <th>elapsedTime</th></tr>
                    {% for app in yarnApps %}
                    <tr><td><a href="{{ url_base }}:{{ app.port_path}}"
                                target="_blank">{{ app.id }}</app></td>
                        <td>{{ app.name}}</a></td>
                        <td>{{ app.state }}</td>
                        <td id="{{ app.id }}">{{ app.elapsedTime }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr/>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
